main .formulario {
    text-align: center;

    div .itemFormulario {
        margin: 5px;

    }

    .botonEnviar {
        padding: 5px 5px;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}





.center {
    justify-content: center;
    text-align: center;
}

/*GRIDS AREAS: APLICAMOS ESTILO AL CONTENEDOR PADRE */

.fotoRopa {
    grid-area: fotoRopa;
    width: 100%;
    height: 300px;
}

.sectionA {
    grid-area: sectionA;
}

.sectionB {
    grid-area: sectionB;
}


.contenedor {
    display: grid;
    grid-template-areas:
        "fotoRopa fotoRopa fotoRopa"
        "sectionA sectionA sectionB"
        "sectionA sectionA sectionB"

    ;
}

.preguntasFrecuentes {
    grid-area: preguntasFrecuentes;
    margin-right: 100px;
}

.respuestasPreguntasFrecuentes {
    grid-area: respuestasPreguntasFrecuentes;
}

.contenedorPreguntasFrecuentes {
    display: grid;
    grid-template-areas:
        "preguntasFrecuentes respuestasPreguntasFrecuentes respuestasPreguntasFrecuentes"
        "preguntasFrecuentes respuestasPreguntasFrecuentes respuestasPreguntasFrecuentes"
        "preguntasFrecuentes respuestasPreguntasFrecuentes respuestasPreguntasFrecuentes"
    ;
}

.pregunta {

    border-bottom: 2px solid black;

}