* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;


}

a {
    text-decoration: none;

    &:link {
        color: blue;
    }

    &:hover {
        color: black;
    }

    &:visited {
        color: blueviolet;
    }
}