* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

a {
  text-decoration: none;
}
a:link {
  color: blue;
}
a:hover {
  color: black;
}
a:visited {
  color: blueviolet;
}

.cataleya {
  width: 100px;
  height: 100px;
}

.Header {
  display: grid;
  grid-column: 12;
  text-align: center;
  background-color: #fff4ec;
  border-bottom: 1px solid grey;
}

nav {
  list-style: none;
  margin: 2px;
  position: fixed !important;
  text-align: center;
  margin-left: 25% !important;
  background-color: #fff4ec;
  z-index: 1;
}

.carritoCompras {
  width: 60px;
  height: 60px;
  margin-left: 50px;
}

main {
  background-color: #fffcf2;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  margin-top: 20px;
}

.introduccion {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.introTitulo {
  font-size: 40px;
}

.introDescripcion {
  font-size: 20px;
}

.menu {
  width: 100%;
  background-color: #fffcf2;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.seccionMenu {
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
}

.seccionMenu:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.fotoMenu {
  display: flex;
  width: 100%;
  height: 350px;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: #edede9;
}

.linkMenu {
  display: inline;
  justify-content: space-between;
}

.recuadroPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  border: solid 2px black;
  margin: 5px;
  border-radius: 2px black;
  padding: auto;
}
.recuadroPrincipal .mediosDePago {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  text-align: center;
  padding-top: 25px;
}
.recuadroPrincipal .envios {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  text-align: center;
  padding-top: 25px;
}
.recuadroPrincipal .envios .eviosData {
  margin-top: 50%;
}
.recuadroPrincipal .redesSociales {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  text-align: center;
  padding-top: 40px;
}
.recuadroPrincipal img.infoCompras {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}

.shopFotos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.shopDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.prenda {
  display: flex;
  font-size: 25px;
  flex-direction: column;
}

.fotoMenu {
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
}

.fotoMenu:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.botonComprar {
  padding: 10px 20px;
  background-color: #2ECC71;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  border: none;
  transition: all 1seg;
}
.botonComprar:hover {
  font-size: 35px;
}

.precio {
  font-size: 26px;
  font-weight: bold;
  color: #2ECC71;
}

main .formulario {
  text-align: center;
}
main .formulario div .itemFormulario {
  margin: 5px;
}
main .formulario .botonEnviar {
  padding: 5px 5px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.center {
  justify-content: center;
  text-align: center;
}

/*GRIDS AREAS: APLICAMOS ESTILO AL CONTENEDOR PADRE */
.fotoRopa {
  grid-area: fotoRopa;
  width: 100%;
  height: 300px;
}

.sectionA {
  grid-area: sectionA;
}

.sectionB {
  grid-area: sectionB;
}

.contenedor {
  display: grid;
  grid-template-areas: "fotoRopa fotoRopa fotoRopa" "sectionA sectionA sectionB" "sectionA sectionA sectionB";
}

.preguntasFrecuentes {
  grid-area: preguntasFrecuentes;
  margin-right: 100px;
}

.respuestasPreguntasFrecuentes {
  grid-area: respuestasPreguntasFrecuentes;
}

.contenedorPreguntasFrecuentes {
  display: grid;
  grid-template-areas: "preguntasFrecuentes respuestasPreguntasFrecuentes respuestasPreguntasFrecuentes" "preguntasFrecuentes respuestasPreguntasFrecuentes respuestasPreguntasFrecuentes" "preguntasFrecuentes respuestasPreguntasFrecuentes respuestasPreguntasFrecuentes";
}

.pregunta {
  border-bottom: 2px solid black;
}

img.fotosFooter {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.contenedorwhatsappDirecto {
  position: fixed;
  left: 92%;
  top: 85%;
}
.contenedorwhatsappDirecto .whatsappDirecto {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.suscripcionFooter {
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.suscripcionFooter .suscripcion {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}
.suscripcionFooter .suscripcionBoton {
  font-size: 20px;
}

.accesosFooter {
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.horariosFooter {
  margin: 10px;
}

.contenedorFooter {
  background-color: #fff4ec;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid grey;
}

@media (max-width: 565px) {
  .shopFotos {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
  }
  .menu {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
  }
  .contenedor {
    display: grid;
    grid-template-areas: "fotoRopa fotoRopa" "sectionA sectionA" "sectionB sectionB";
  }
  .contenedorPreguntasFrecuentes {
    display: grid;
    grid-template-areas: "preguntasFrecuentes preguntasFrecuentes" "respuestasPreguntasFrecuentes respuestasPreguntasFrecuentes" "respuestasPreguntasFrecuentes respuestasPreguntasFrecuentes";
  }
  .preguntasFrecuentes {
    grid-area: preguntasFrecuentes;
    text-align: center;
  }
  .introTitulo {
    font-size: 30px;
  }
  .introDescripcion {
    font-size: 15px;
  }
  .carritoCompras {
    width: 60px;
    height: 40px;
    margin-left: 25px;
  }
  .contenedorwhatsappDirecto {
    position: fixed;
    left: 85%;
    top: 85%;
  }
  .contenedorwhatsappDirecto .whatsappDirecto {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .suscripcionFooter {
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .suscripcionFooter .suscripcion {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .suscripcionFooter .suscripcionBoton {
    font-size: 15px;
  }
  img.fotosFooter {
    width: 35px;
    height: 35px;
    margin: 10px;
  }
  .accesosFooter {
    font-size: 15px;
  }
}
@media (min-width: 540px) and (max-width: 720px) {
  .shopFotos {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
  }
  .menu {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
  }
  .contenedorwhatsappDirecto {
    position: fixed;
    left: 90%;
    top: 85%;
  }
  .contenedorwhatsappDirecto .whatsappDirecto {
    width: 50px;
    height: 50px;
    margin-right: 5px;
  }
  .suscripcionFooter {
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .suscripcionFooter .suscripcion {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .suscripcionFooter .suscripcionBoton {
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */