* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label {
    display: block;
}

.cataleya {
    width: 100px;
    height: 100px;

}

.Header{
    display: grid;
    grid-column: 12;
    text-align: center;
    background-color: beige;
}




nav {
    list-style: none;
    margin: 2px;
    position: fixed !important;
    text-align: center;
    margin-left: 25% !important;
    background-color: beige
}

main {

    background-color: azure;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    margin-top: 80px;
}

.video{
    background-color: aliceblue;
    width: 100%;
}

.menu{
    width: 100%;
    background-color: aliceblue;
}


/*.fotoModelo {
   
    height: 350px
}*/

/* DEJA DE SER TAN COGOTE Y NO USES MEDIDAS EN PX PARA MARCAR LOS WIDTH DE LOS ELEMENTOS CARLETO */

/*USA MEDIA QUERIES PARA ACOMODAR EL MENU HAMBURGUESA */

.menu {
    display: flex;
    justify-content: space-between;
}


.fotoMenu {
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: row ;
    justify-content: space-between;
}

.linkMenu {
    display: inline;
    justify-content: space-between;
}

.recuadroPrincipal {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    border: solid 2px black;
    margin: 5px;
    border-radius: 2px black;
    padding: auto;
}

.mediosDePago {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    text-align: center;
    padding-top: 25px;
}

.envios {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    text-align: center;
    padding-top: 25px;
}

.redesSociales {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    text-align: center;
    padding-top: 45px;
}

.eviosData {
    margin-top: 50%;
}

img.infoCompras {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
}

.shopFotos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   }

.shopDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.prenda {
    display: block;
    font-size: 20px;
}

.precio {
    font-size: 26px;
    font-weight: bold;
    color: #2ECC71;
}

.botonComprar {
    padding: 10px 20px;
    background-color: #2ECC71;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    border: none;
}

.botonEnviar {
    padding: 5px 5px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}

.formulario {
    text-align: center;
}

.itemFormulario {
    margin: 5px;

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: antiquewhite;
    margin-top: 10px;
    margin-bottom: 10px;
    }

img.fotosFooter {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
}

.whatsappDirecto {
    width: 70px;
    height: 70px;
    position: fixed;
    left: 92%;
    top: 85%;

}




.center {
    justify-content: center;
    text-align: center;
}

a {
    text-decoration: none;
}

a:link {
    color: blue;
}

a:hover {
    color: black;
}

a:visited {
    color: blueviolet;
}



/* @media screen and (max-width: 730px)
    {
        .Header{
            width: 100%;
        }
    } */




@media (max-width: 540px) {
    .shopFotos {
        display: block;
        text-align: center;

    }
}

@media  (max-width: 540px)
{
   .menu {
    display: block;
        text-align: center;

} }




.sectionA {
    grid-area: sectionA;
}

.sectionB {
    grid-area: sectionB;
}


footer {
    grid-area: footer;
}

/*GRIDS AREAS: APLICAMOS ESTILO AL CONTENEDOR PADRE */

.contenedor {
    display: grid;
    grid-template-areas:
        "sectionA sectionA sectionB"

    ;
}